name: ci-linux
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      # install deps.
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fd-find
      - uses: actions/checkout@v3

      - uses: haskell-actions/setup@v2
        id: setup
        with:
          ghc-version: '9.2.8'
          cabal-version: '3.10.2.1'

      - name: Cache .cabal
        uses: actions/cache@v4
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: cabal-${{ hashFiles('cabal.project') }}

      - name: Build dependencies for style check
        run: |
          cabal update
          cabal install -j cabal-fmt-0.1.7 stylish-haskell-0.14.5.0 --overwrite-policy=always

      - name: Stylish haskell
        run: |
          ./fix-stylish-haskell.sh
          git diff --exit-code

      - name: cabal-fmt
        run: |
          ./fix-cabal-fmt.sh
          git diff --exit-code

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: haskell-actions/setup@v2
        id: setup
        with:
          ghc-version: '9.2.8'
          cabal-version: '3.10.2.1'

      - name: Cache .cabal
        uses: actions/cache@v4
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: cabal-${{ hashFiles('cabal.project') }}-${{ hashFiles('**/*.cabal') }}

      - name: build
        run: cabal build -j all
